.heading {
    text-align: center;
    color: rgb(15, 166, 166);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
    padding: 3vw;
    margin: 1.4vw;
    text-align: center;

}
.input_img{
    background-color: aliceblue;
    margin: 2vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.frame{
    background-color: moccasin;
    width: fit-content;
    display: flexbox;
    margin: 2vh;
    padding: 2vh;
}